.react-chatbot-kit-chat-container{
    
    @media(max-width: 600px){
        width: 100vw;
        height: calc(90vh);
        
    }

    width: 500px;
    height: 500px;
    
}
.react-chatbot-kit-chat-message-container{
    @media(max-width: 600px){

        height: calc(75vh);
        
    }
}
.react-chatbot-kit-chat-header{
    background-color: #f4a106;
    color: black;
    font-size: 16px;
    font-family: DM Sans,sans-serif;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 1px solid rgb(30, 28, 28);
    
}

.react-chatbot-kit-chat-inner-container {
    background-color: rgb(222, 222, 222);
    border-radius: 10px;
    border: 1px solid rgb(30, 28, 28);
    height: 100%;
}

.react-chatbot-kit-chat-input{
    height: 60px;
    background-color: white;
    border-top: 1px solid rgb(30, 28, 28);
    color: black;
    font-size: 16px;
    border: 1px solid rgb(30, 28, 28);
    border-left: none;
}

.react-chatbot-kit-chat-btn-send{
    background-color:#f4a106;
    border-top: 1px solid rgb(30, 28, 28);
}

.react-chatbot-kit-chat-bot-message{
    background-color:#f7f3f3;
    color: black;
    font-size: 16px;
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 300px;
}
.react-chatbot-kit-chat-bot-message-arrow{
    display: none;
    
}

.react-chatbot-kit-user-chat-message{
    background-color:#f4a106;
    border-top-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 5px;
    margin-top: 10px;
    color: black;
    font-size: 16px;
}
.react-chatbot-kit-user-chat-message-arrow{
    border-left: 8px solid #322A51;
    display: none;
    
}

.react-chatbot-kit-user-avatar{
    display: none;
}